---
import Goal from "@/sections/Goal.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import Brands from "@/sections/Brands.astro";
---

<Layout title="Resistencia Bacteriana">
  <Header />
  <main>
    <Hero />
		<Goal />
  </main>
  <footer>
    <Brands />
  </footer>
</Layout>
