<section class="max-w-7xl mx-auto px-4 pb-4 md:px-8 mt-10">
  <p>
    <strong>Referencia 1.</strong> Organización Mundial de la Salud. Resistencia a los antimicrobianos [Internet]. OMS; 2021. Disponible en: https://n9.cl/oa6h9 <strong>2.</strong> Mayo Clinic. Descubre cómo el uso excesivo de antibióticos ha aumentado la cantidad de microbios resistentes a los medicamentos, y lo que puedes hacer para ayudar a detener esta amenaza contra la salud [Internet]. Disponible en: https://n9.cl/43auo
  </p>
</section>