<section class="max-w-7xl mx-auto px-4 pb-4 md:px-8 mt-10">
  <h2 class="text-2xl font-bold text-azul-rey-abbott mb-4">
    Se estima que en el 2050 la resistencia bacteriana será la responsable de diez millones de muertes por año. <span class="align-super text-sm">1</span>
  </h2>
  <p>
    <strong>Referencia: 1.</strong>
    Giono-Cerezo S, Santos-Preciado J, Rayo Morfín-Otero M, et al. Resistencia antimicrobiana.
    Importancia y esfuerzos por contenerla. Gac. Méd. Méx. 2020;156(2):172-180.
  </p>
</section>
