<section class="max-w-7xl mx-auto px-4 pb-4 md:px-8 mt-10">
  <p>
    <span class="font-bold">Referencia 1.</span> Departamento de Salud Reproductiva e Investigaciones Conexas de la Organización Mundial de la Salud (OMS/SSR), Escuela de Salud Pública Bloomberg de la Universidad Johns Hopkins/Centro para Programas de Comunicación (CCP), Knowledge SUCCESS. Planificación familiar: un manual mundial para proveedores, edición 2022. Baltimore y Ginebra: CCP y OMS; 2022. <span class="font-bold">Referencia 2.</span> Rapkin AJ, Korotkaya Y, Taylor KC. Contraception counseling for women with premenstrual dysphoric disorder(PMDD): current perspectives.Open Access Journal of Contraception 2019:10 27–39. <span class="font-bold">Referencia: 3.</span> Schindler AE. Non-Contracep ve Beneﬁts of Oral Hormonal Contracep ves. Int J Endocrinol Metab. 2013;11(1):41-7.
  </p>
</section>