---
import { URL_BASE } from '@/config';
import Title from '@/components/Title.astro';
---


<section>
  <div class="relative font-brandon flex items-center justify-center">
    <img src=`${URL_BASE}/img/banner.webp` class="w-full h-80 object-cover object-[70%] md:object-center lg:h-auto" alt="Banner">
    <div class="absolute inset-0 w-full h-full flex flex-col justify-center items-start p-4 md:p-20 gap-6">
      <Title size={0.8} />
    </div>
  </div>
</section>