<section>
  <div class="max-w-7xl mx-auto bg-azul-verdoso-abbott p-4 lg:p-8 font-georgia text-white text-3xl leading-snug">
    <p><strong>Objetivo:</strong> crear conciencia sobre el papel del farmacéutico en la prevención de la resistencia bacteriana</p>
  </div>
</section>